*{
    box-sizing: border-box;
    margin: 0 ;
}
:root{
    --mainColor: #5B8E19;
}
p{
    margin-bottom: 0 !important;
}



.active{
    display: block !important ;
}

.ctergorie-inputs {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 295px;
    background-color: white;
    box-shadow: 5px 5px 20px 0 #000000;
   
}
.ctergorie-inputs div{
    padding: 10px 50px;
    border-bottom: 1px solid #E0E0E0;

 
   
}








#banner{
    height: 500px;
    background-image: url(../images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#banner .container{
    height: 500px;
    border-radius: 8px;
}


.main-section{
    padding: 20px 0;
    background: #FFFFFF;
}
.main-section .section-title{
    color: var(--mainColor);
    border-right: 3px solid var(--mainColor);
    padding: 4px;
    margin-bottom: 20px;
}

.main-section .section-title .more-btn{
    text-decoration: none;
    color: #4F4F4F;
}


#poster .post img {
   width: 100%;
   height: 100px;

}



#two-image{
    margin-bottom: 40px;
}


#two-image img{

    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}


#products .product{
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
    background: #FFFFFF;
    position: relative;
}

#products .product .old-price{
    position: relative;
    padding-right: 10px;
    color: #333333;
    text-align: right;
}
#products .product .old-price::after{
    content: "";
    width: 54px;
    height: 2px;
    background-color:#333333;
    position: absolute;
    top: 12px;
    right: 2px;
    transform: rotate(336deg);
}


#products .product .discounts{
    background-color: var(--mainColor);
    color: white;
    border-radius: 0px 31.5px 31.5px 0px;    
    padding: 5px ;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 4px 10px;
    font-weight: bold;

}


#products .product .product-details .detail{
    font-weight: 500;
font-size: 16px;
line-height: 30px;
text-align: right;
color: #333333;



}

#products .product .product-details .price{
    font-weight: 700;
    font-size: 18px;
    line-height: 37px;
    text-align: right;
    color: #000000;

}
#products .product .product-details p{
    margin-bottom: 5px !important;
}

#products .formations{
    margin-bottom: 80PX;
}


#products .formations .formation {
    position: relative;
}

#products .formations .formation img {
    margin: 14px;
}

#products .formations .formation h6 {
    margin-top: 22px;
    color: #000000;
}

#products .formations .formation p{
    color: #333333;
    font-size: 14px;
}


#products .formations .formation .bg {
    position: absolute;
    background: #41464b0d;
    width: 80px;
    top: -5px;
    border-radius: 50%;
    height: 80px;
    left: 190px;


}
#clients .cards {
    margin-bottom: 80px;
}
#clients .cards .opinions .opinion {

    margin-bottom: 10px;
    margin-top: 19px;
}



#clients .cards .opinions .opinion .content {
    padding-right: 10px;
}

#clients .cards .opinions .opinion h6{
    color: #000000;
    font-weight: bold;
}



#clients .cards .opinions .opinion p {
    color: #333333;
}

#clients{
    margin-bottom: 60px;
}
.opinion-card{
    background: #EFF4E8;
    border-radius: 8px;
    padding: 20px;
}

    









