*{
    box-sizing: border-box;
    margin: 0 ;
}
@media (min-width:768px){
    
.new_padding {
    padding: 50px 140px;
}
}
:root{
    --mainColor: #5B8E19;
}
p{
    margin-bottom: 0 !important;
}

header div#top-nav{
    padding: 12px 0 ;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

}

#page-title span{
    color: var(--mainColor);
}

#page-title .acount{
    color: #4F4F4F;
}

 .line{
    flex-grow: 1;
    height: 3px;
    background-color: #E0E0E0;
    margin: 0 30px;
 }

 .img-detail-container-1 .img-container img {
    background: var(--mainColor);
    border-radius: 4px;
        width: 40px;
    padding: 8px;
    border-radius: 4px;
 }

 .img-detail-container-1 .img-container span{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--mainColor); 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    color: var(--mainColor);
}

.img-detail-container-2 .img-container img {
    background: rgba(91, 142, 25, 0.2);
    border-radius: 4px;
        width: 40px;
    padding: 8px;
    border-radius: 4px;
 }

 .img-detail-container-2 .img-container span{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--mainColor); 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    color: var(--mainColor);
}

#cart .finish-details p{
    color: var(--mainColor);
}
#cart .finish-details span{
    color: #828282;
}

#cart .title .step_details p{
    color: var(--mainColor);

}

#cart .title .step_details span{
    color: #828282;
}











#top-nav .sign  span{
    color: var(--mainColor);
}

#search-nav{
       padding: 12px 0;
}


#search-nav .imag-heart{
    padding: 0 16px;
}


#search-nav input{
     padding: 12px 8px 8px 143px;
     border-radius: 8px;
     border: 0;
     background: #F2F6ED;
     border-radius: 10px;
}

#search-nav input:focus{
    outline-color: transparent;
}

#search-nav button{
    position: absolute;
    top: 46%;
    left: 68px;
    transform: translate(-50%, -50%);
    width: 117px;
    height: 44px;
    background-color: var(--mainColor);
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 7px;
}

#search-nav .search-group{
    position: relative;
}

#search-nav .total-price{
    color: var(--mainColor);
}

@media (max-width: 768px) {

    /* #search-nav{
        position: relative;
    }
    .search-form{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    } */


    #search-nav .total-price{
        display: none;

    }
    #search-nav .imag-heart{
        display: none;
    }
    /* #search-nav .discount{
        position: relative;
    }
    #search-nav .discount-price img {
        position: absolute;
        left: 63px;
        top: 0;
    }

    #search-nav .discount-price .search{
        position: absolute;
        top: 0;
        left: 35px;
    } */

    #page-title{
        margin: 30px 0 !important;
    }

    
    }


#search-nav .discount-price{
    position: relative;
}

#search-nav .discount {
    position: absolute;
    top: -19px;
    left: 70px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #EB5757; 
    display: flex;
    justify-content: center;
    align-items: center;

   

        
}


#search-nav .search-group input{
    position: relative;
    padding-right: 34px;
    font-size: 16px;
    color: #4F4F4F;
}

#search-nav .search-group .search{
    
    position: absolute;
    top: 4px;
    right: 0;
    padding: 10px;
    font-size: 16px;
}




#navbar{
    padding: 12px 0;
    display: none;
    

}

#navbar .content {
    font-size: 12px;
    list-style: none;
    

}

#navbar .content li{
    padding: 0px 10px;

} 
#navbar .content li .active{
    background-color: var(--mainColor);
    color: #FFFFFF;
    padding: 10px 10px;

}


#banner{
    height: 500px;
    background-image: url(../images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#banner .container{
    height: 500px;
    border-radius: 8px;
}


.main-section{
    padding: 20px 0;
    background: #FFFFFF;
}
.main-section .section-title{
    color: var(--mainColor);
    border-right: 3px solid var(--mainColor);
    padding: 4px;
    margin-bottom: 20px;
}

.main-section .section-title .more-btn{
    text-decoration: none;
    color: #4F4F4F;
}


#poster .post img {
   width: 100%;
   height: 100px;

}



#two-image{
    margin-bottom: 40px;
}


#two-image img{

    border-radius: 8px;
}


#products .product{
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
    background: #FFFFFF;
    position: relative;
}

#products .product .old-price{
    position: relative;
    padding-right: 10px;
    color: #333333;
    text-align: right;
}
#products .product .old-price::after{
    content: "";
    width: 54px;
    height: 2px;
    background-color:#333333;
    position: absolute;
    top: 12px;
    right: 2px;
    transform: rotate(336deg);
}


#products .product .discounts{
    background-color: var(--mainColor);
    color: white;
    border-radius: 0px 31.5px 31.5px 0px;    
    padding: 5px ;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 4px 10px;
    font-weight: bold;

}


#products .product .product-details .detail{
    font-weight: 500;
font-size: 16px;
line-height: 30px;
text-align: right;
color: #333333;



}

#products .product .product-details .price{
    font-weight: 700;
    font-size: 18px;
    line-height: 37px;
    text-align: right;
    color: #000000;

}
#products .product .product-details p{
    margin-bottom: 5px !important;
}


#products .formations .formation {
    position: relative;
}

#products .formations .formation img {
    margin: 14px;
}

#products .formations .formation h6 {
    margin-top: 22px;
    color: #000000;
}

#products .formations .formation p{
    color: #333333;
    font-size: 14px;
}


#products .formations .formation .bg {
    position: absolute;
    background: #41464b0d;
    width: 80px;
    top: -5px;
    border-radius: 50%;
    height: 80px;
    left: 190px;


}
#clients .cards .opinions .opinion {

    margin-bottom: 10px;
    margin-top: 19px;
}



#clients .cards .opinions .opinion .content {
    padding-right: 10px;
}

#clients .cards .opinions .opinion h6{
    color: #000000;
    font-weight: bold;
}



#clients .cards .opinions .opinion p {
    color: #333333;
}

    





footer{
    background: #F2F2F2;
    padding: 30px 0;
}
footer ul {
    list-style: none;
}
footer ul a {
    text-decoration: none;
    color: #333333;
    font-size: 13px;
}
footer ul a:hover {
    color: var(--mainColor);
}


.footer-title{
    color: var(--mainColor);
}

footer .about .icon{
    display: flex;
}

footer .about p {
    padding-top: 12px;
    color: #333333;
}
footer .about .icon{
    padding: 0;
}
footer .about .icon a{
    color: #000000;
} 

footer .about .icon li {
    padding: 5px 5px 15px 41px;
    list-style: none;

}

footer li{
    margin-bottom: 20px;
}



#mobile-nav{
    background: #FFFFFF;    
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom:0 ;
    left: 0;
    box-shadow: 0px -7px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 0px 0px;
    z-index: 99;
}

#mobile-catrgories{
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
        padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    transform: translateY(100%);
    transition: 1s;
    display: none;
}

@media (min-width:992px) {
    #navbar{
        display: block;
    }

    #mobile-catrgories{
        display: none;
    }
    #mobile-nav{
        display: none;
    }

    #products .formations .formation .bg {
        position: absolute;
        background: #41464b0d;
        width: 80px;
        top: -5px;
        border-radius: 50%;
        height: 80px;
        left: 136px;
    
    
    }

   
    
}


   

    
.shoping-cart{
    padding: 100px;
}


.placeholder-img  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
}
.placeholder-img img  {
    background: #F6F6F6;
        width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 18px;
    
}
.placeholder-img p  {
    margin-top: 22px;
    color: #BDBDBD;}

    #cart span{ 
        color: var(--mainColor);
    }

#cart .detail p {
    padding-left: 30px;
}


#cart .detail span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #EB5757;  
    color: white;     
     text-align: center;
        margin-right: -31px;
        margin-left: 20px;
}

#cart .detail img {
    background: #E0E0E0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}




#custome-bacground {
    background-color: #F2F2F2;
}

#cart .content {
    padding: 20px 33px;
    
background: #FFFFFF;
border-radius: 12px;
}

#cart .content h5 {
    color: var(--mainColor);
    margin-top: 10px;

}


#cart .content p {
    margin-top: 30px;
    padding-bottom: 90px;
    color: #4F4F4F;
    font-size: 14px;
}


#cart .content-1 h5 {
    color: var(--mainColor);
}


#cart .content-1 {
    padding: 20px 33px;
    
background: #FFFFFF;
border-radius: 12px;
}

#cart .content-1 .contain-1 ,#cart .content-1 .contain-2 {
    padding: 22px;
    color: #4F4F4F;
}

#cart .content-1 .contain-2 {
    padding-bottom: 70px;
}

#cart .content-1 .contain-1 span ,#cart .content-1 .contain-2 span{
     color: #333333;;
     font-size: 18px;
}

#cart .content-1 .contain-1 p ,#cart .content-1 .contain-2 p{
    color: #4F4F4F;
    font-size: 14px;
}
